html {
	background: url(img/bus.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: 'Roboto', sans-serif;
}

a:link {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	text-decoration: none;
	color: #FF9900;
}

a:active {
	text-decoration: none;
	color: #FF9900;
}

h1 {
	font-size: 45px;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #FFFFFF;
	z-index: 2;
	height: 30px;
	left:0px;
	right:0px;
	padding: 10px;
	display: block;
	box-shadow: 0px 1px 3px #5200A3;
}

#logo {
	position: absolute;
	left: 30px;
	top: 8px;
	height: 35px;
	border-radius: 5px;
}

#for_schools {
	position: absolute;
	left: 245px;
	top: 17px;
	font-weight: bold;
	color: #5C005C;
}

#returning_user {
	text-align: right;
	margin-right: 30px;
}

#login_button {
	height: 30px;
	color: #FFFFFF;
	background-color: #5200A3;
	border-style: none;
	border-color: #5C005C;
	border-width: 1px;
	border-radius: 4px;
	font-weight: bold;
}

#slides {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 400%;
	width: 100%;
	min-width: 900px;
}

.slide {
	position: relative;
	height: 25%;
	width: 100%;
}

#s2, #s4 { 
	background-color: white; 
	border-top: solid;
	border-width: 20px;
	border-color: #5200A3}

#s4 {
	border-bottom: solid;
	border-width: 20px;
	border-color: #5200A3
}

/* Slide 1 */

#s1_content {
	color: white;
	width: 50%;
	position: relative;
	top: 25%;
	left: 5%;
	padding: 5px;
	padding-left: 25px;
	background-color: #5200A3;
	border-radius: 20px;
	border-bottom-left-radius: 0px;
}

/* Slide 2 */

#s2_content {
	color: white;
	width: 45%;
	position: absolute;
	top: 8%;
	right: 5%;
	padding: 5px;
	padding-left: 25px;
	background-color: #5200A3;
	border-radius: 20px;
	border-bottom-right-radius: 0px;
}
	
#s2_explain {
	position: absolute;
	right: 5%;
	top: 55%;
	width: 50%;
	font-size: 30px;
	text-align: center;
}

#s2 img {
	position: absolute;
	top: 2%;
	left: 5%;
	height: 90%;
}

/* Slide 4 */
#desc_price {
	position: relative;
	width: 80%;
	margin: 0 auto;
	padding: 15px;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}

#price_plan {
	position: absolute;
	top: 10%;
	left: 0px;
	width: 100%;
	height: 40%;
}

table, td {
	border: 1px solid black;
}

table {
	margin: 0 auto;
	width: 80%;
	min-width: 600px;
	text-align: center;
	border-collapse: collapse;
}

td {
	width: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Slide 5 */

#center_links {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

#links {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	background-color: #5200A3;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 5px;
}
#links ul {
	padding: 0px;
	margin: 0px;
}
#links li {
	list-style-type: none;
	display: inline;
	padding-right: 20px;
	padding-left: 20px;
}

#h_sign {
	color: #5200A3;
	font-size: 35px;
	font-weight: bold;
}

#sh_sign {
	color: 	#5200A3;
	font-size: 20px;
	margin-top: 10px;
}

#form_cover {
	z-index: -2;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;

	border-radius: 15px;
}

#new_user {
	position: absolute;
	left: 10%;
	top: 15%;
	padding: 20px;
}

#new_user .tb {
	height: 40px;
	font-size: 20px;
	padding: 5px;
	margin-bottom: 10px;
	background-color: #EFD9FF;
	border: solid;
	border-radius: 4px;
	border-width: 1px;
	border-color: #5200A3;
	color: #000000;
	width: 414px;
}

#state {
	-webkit-appearance: none; 
	-moz-appearance: none;
}

#sign_up {
	width: 140px;
	height: 40px;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #FF9900;
	border-style: none;
	border-color: #FF9900;
	border-width: 1px;
	border-radius: 4px;
}
